<!-- Read post section -->
<div class="container padding">
  <div class="data-content">
      <img class="data-image" src="../../../assets/images/python-programming-workshop/images/python-programming-workshop.jpeg" alt="" />
      <div class="data-desc">
          <h1 class="data-heading">Python Programming Workshop</h1>
          <p class="data-date">Date: 18-03-2019</p>
          <p class="data-venue">Venue: UNIX LAB</p> 
          <hr>
          <div class="data-body">
              <h2>Why Learn Python?</h2>
              <p>Python is a general-purpose, versatile and popular programming language. It's great as a first language because it is concise and easy to read, and it is also a good language to have in any programmer's stack as it can be used for everything from web development to software development and scientific applications.</p>
              <h2>About Workshop</h2>
              <p>The workshop will cover basics of python programming language which will help you get started with Python Programming. This workshop is for the beginners with basic programming knowledge</p>
              <p>The workshop will start at sharp 1:50 PM (IST).</p>
              <p>Fee: Rs.20/- to be submitted to your respective CR or GLUG Coordinators</p>
              <h2>Topics to be covered</h2>
              <ul>
                  <li>Introduction to Python.</li> 
                  <li>Variables, Expressions & Statements.</li> 
                  <li>Functions.</li> 
                  <li>Conditional Execution</li>
                  <li>Iterations</li>
                  <li>List</li>
                  <li>Tuples</li>
                  <li>Dictionary</li>
              </ul>
              <h3>Event Trainer: </h3>
              <ul>
                  <li>Nikhil Amin, President [ASCII PACE]</li> 
              </ul>

              <h3>Prerequisite</h3>
              <ul> 
                  <li>Laptop Fully Charged (plug points will be available)</li> 
                  <li>Lab systems can be provided for those without laptop.</li>
                  <li><a href="https://thonny.org/" target="blank">Thonny IDE</a> or any Editor of choice for coding.</li>
                  <li>And a curious mind.</li>
              </ul>  
              <h4 style="text-align:center"><a href="https://bit.ly/python19" class="link">Register Now!</a></h4>
           
          </div>   
      </div>
  </div>
</div>
