<footer>
  <div class="container">
      <div class="footer-box">
          <h1>GLUG PACE</h1>
          <p>GNU AND LINUX USERS GROUP PACE, <br /> A subgroup of (FSMK) <br /> Free Software Movement Karnataka.</p>
      </div>
      <div class="footer-box">
          <h1>Open Source Community</h1>
          <p><a href="https://github.com/GLUGPACE/" target="blank">GitHub</a></p>
      </div>
      <div class="footer-box">
          <h1>P A College of Engineering</h1>
          <p>Nadupadav, Montepadav Post <br />
              Kairangala <br />
              Mangalore - 574153 <br />
              Karnataka, INDIA.
          </p>
      </div>
  </div>
</footer>