<!-- Read post section -->
<div class="container padding">
  <div class="data-content">
      <img class="data-image" src="../../../assets/images/fsmk-winter-camp-2k19/images/fsmk-camp-post.jpeg" alt="" />
      <div class="data-desc">
          <h1 class="data-heading">FSMK Winter Camp-2k19</h1>
          <p class="data-author">Published by <b>Sheik Mohammed Adil</b></p>
          <hr>
          <div class="data-body">
              <p>The 5-day residential camp which was held from 20-24 Jan 2019 at PESCE, Mandya concluded successfully.</p>
              
              <p>FSMK camps present a different perspective to technology. As much as the people in FSMK love technology, they also care deeply about our society and the impact of technology in our society. FSMK camps not only focus on imparting technology, but also has various talks about a technology focussed society and how every individual can contribute towards a safer and ethical techno-society. </p>
              
              <p>FSMK camps are residential in nature, where we take care of stay, food and other things during the days of the camp. The camp offered 3 different technical tracks 😇.</p>
              <ul>
                  <li>Data Science & Artificial Intelligence</li>
                  <li>DevOps & Cloud Computing</li>
                  <li>Open Hardware & Internet of Things</li>
              </ul>
              <img src="../../../assets/images/fsmk-winter-camp-2k19/images/tracks.png" alt="">
              
              <p>Participants at FSMK Camp had surprise awaiting for them, when the FSMK released a official statement regarding a guest talk on “A Free Digital Society” by none other than Dr. Stallman (aka RMS)😄.</p>
              <img src="../../../assets/images/fsmk-winter-camp-2k19/images/stallman.png" alt="">
              
              <p>The camp had around 111 participants and 40 speakers/volunteers from around 6-7 colleges spread across districts of Karnataka. Apart from the topics that the track will teach, participants also had various sessions on Free(dom) software, Open hardware, Privacy, Digital economy.</p>
              
              <p>As for me I was volunteering for Data Science & AI track, which made me understand the concepts of Data science & AI along with which I got to meet new people and learn their perspective of technology and its use.</p>
              <p>One thing about the camp was that throughout the camp both AI and Cloud tracks were fighting amongst each other in becoming more awesome track (actually it was amongst speakers and volunteers)😆 and we rarely heard anything from IOT track😶.</p>
              
              <br>
              <img src="../../../assets/images/fsmk-winter-camp-2k19/images/ai-track.jpeg" alt="">
              <h4 style="text-align:center">Data Science & AI Track😎</h4>
              <img src="../../../assets/images/fsmk-winter-camp-2k19/images/cloud-track.jpg" alt="">
              <h4 style="text-align:center">DevOps & Cloud Computing Track☁️</h4>
              <img src="../../../assets/images/fsmk-winter-camp-2k19/images/iot-track.jpg" alt="">
              <h4 style="text-align:center">Internet of Things Track🔌</h4>
              
              <p>Apart from technical sessions, we also had non-tech sessions that was taken by our FSMK speakers. Each day speakers used to take non-tech sessions where they talked about a technology focussed society and how every individual can contribute towards a safer and ethical techno-society. And participants used to interact/ask freely with the speakers about their thoughts regarding the topics📢.</p>
              <img src="../../../assets/images/fsmk-winter-camp-2k19/images/non-tech.jpg" alt="">
              <p>Non tech sessions were also taken during evening at around 7pm, along with which we used play some activity (games, dance and singing) where all of us had lot of fun✨.</p>

              <p>Ok, I think it's more than enough for you to understand how FSMK camp was for me😍. If you've missed it this time there's always next time for you!. Wait patiently for it and you won't regret it a bit.</p>  
              <img src="../../../assets/images/fsmk-winter-camp-2k19/images/fsmk-group.jpeg" alt="">                  
          </div>
      </div>
  </div>
</div>
