<!-- Read post section -->
<div class="container padding">
  <div class="data-content">
      <img class="data-image" src="../../../assets/images/bytestruck-2015/images/bytestruck2015.jpg" alt="" />
      <div class="data-desc">            
          <h1 class="data-heading">Bytestruck 2015</h1>
          <p class="data-date">Date: 04-11-2015</p>
          <p class="data-venue">Venue: Edu Sat Hall</p> 
          <hr>
          <div class="data-body">
              <p>On 4'th of Nov 2015, Department of Computer Science and Engineering PACE, conducted BYTESTRUCK-2015, a showcase event to explore the open software usefulness to the High school and PU students. This event was organized for spreading awareness of Free and Open Source Software (FOSS) among students and hence encourage them to use FOSS.</p>
          </div>   
      </div>
  </div>
</div>
