<!-- Read post section -->
<div class="container padding">
  <div class="data-content">
      <img class="data-image" src="../../../assets/images/python-programming/images/python-workshop.jpg" alt="" />
      <div class="data-desc">
          <h1 class="data-heading">Python Programming</h1>
          <p class="data-date">Date: 27-10-2016</p>
          <p class="data-venue">Venue: Multi Purpose Hall</p> 
          <hr>
          <div class="data-body">
              <p>A intercollegiate workshop on python programming, organized by : GLUG PACE<p>
          </div>   
      </div>
  </div>
</div>
