<!-- Read post section -->
<div class="container padding">
  <div class="data-content">
      <img class="data-image" src="../../../assets/images/laravel-and-php/images/laravel-php.jpg" alt="" />
      <div class="data-desc">
          <h1 class="data-heading">Laravel and PHP</h1>
          <p class="data-date">Date: 11-10-2017</p>
          <p class="data-venue">Venue: Multi Purpose Hall</p> 
          <hr>
          <div class="data-body">
              <p>GLUG PACE organized Laravel and PHP workshop for the students of second and third year B.E in P.A. College of engineering. Chief guest of the program was Mr. Sushin P.V who handled the session and teach the students Laravel and PHP web frameworks. And our beloved GLUG members were the coordinators of this event. Overall the event was successfully conducted with a great support from our juniors, staff coordinators and the GLUG PACE members.</p>
          </div>   
      </div>
  </div>
</div>
