<!-- Blog section -->
<div class="padding container">
  <div class="blog-card">
      <div class="blog-post-image">
          <a href="my-experience-of-techyon"><img src="../../assets/images/my-experience-of-techyon/images/techyon.jpg" alt="" /></a>
      </div>
      <div class="blog-post-data">
          <h2 class="blog-post-title"><a href="my-experience-of-techyon">My experience of Techyon</a></h2>
          <p class="blog-post-desc">Published by <b>Waseema Imtiaz Shaikh</b></p>
      </div>
  </div>
  <div class="blog-card">
      <div class="blog-post-image">
          <a href="fsmk-winter-camp-2k19"><img src="../../assets/images/fsmk-winter-camp-2k19/images/fsmk-camp-post.jpeg" alt="" /></a>
      </div>
      <div class="blog-post-data">
          <h2 class="blog-post-title"><a href="fsmk-winter-camp-2k19">FSMK Winter Camp-2k19</a></h2>
          <p class="blog-post-desc">Published by <b>Sheik Mohammed Adil</b></p>
      </div>
  </div>
  <div class="blog-card">
      <div class="blog-post-image">
          <a href="what-is-git"><img src="../../assets/images/what-is-git/images/git-post.jpeg" alt="" /></a>
      </div>
      <div class="blog-post-data">
          <h2 class="blog-post-title"><a href="what-is-git">What is Git (Version Control System)?</a></h2>
          <p class="blog-post-desc">Published by <b>Sheik Mohammed Adil</b></p>
      </div>
  </div>
</div>
