<!-- Team section -->
    <div class="container padding">
        <h2>Core Members</h2>
        <div class="team-container">
            <div class="member-card">
                <a href="https://github.com/mohammed-adil" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/mohammed-adil?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Sheik Mohammed Adil</p>
                            <p class="member-role">President | Website Maintainer</p>
                        </div>
                    </div>
                </a>
            </div>           
            <div class="member-card">
                <a href="https://github.com/voidxyzvoidxyz" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/voidxyzvoidxyz?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Mohammed Shakir</p>
                            <p class="member-role">Vice President | Administrator</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="member-card">
                <a href="https://github.com/hasna-akbarali" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/hasna-akbarali?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Hasna Akbar Ali</p>
                            <p class="member-role">Content Manager</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="member-card">
                <a href="https://github.com/saleharafath" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/saleharafath?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Saleh Arafath</p>
                            <p class="member-role">Treasurer | FSMK Coordinator</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="member-card">
                <a href="https://github.com/nikhil-amin" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/nikhil-amin?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Nikhil Amin</p>
                            <p class="member-role">Coordinator | Technical Lead</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="member-card">
                <a href="https://github.com/aditikirannaik" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/aditikirannaik?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Aditi Naik</p>
                            <p class="member-role">Coordinator | Marketing Lead</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="member-card">
                <a href="https://github.com/anagha428" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/anagha428?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Anagha Premraj</p>
                            <p class="member-role">Coordinator</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="member-card">
                <a href="https://github.com/shahana98" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/shahana98?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Shahana Ankalgi</p>
                            <p class="member-role">Coordinator</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="member-card">
                <a href="https://github.com/ahmed-saifulla" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/ahmed-saifulla?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Ahmed Saifulla N S</p>
                            <p class="member-role">Coordinator</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="member-card">
                <a href="https://github.com/AishaMJ" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/AishaMJ?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Aisha MJ</p>
                            <p class="member-role">Coordinator | Android Developer</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <h2>GEM(GLUG Event Management) Members</h2>
        <div class="team-container">
            <div class="member-card">
                <a href="https://github.com/abdulraouf9567" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/abdulraouf9567?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Abdul Raouf</p>
                            <p class="member-role">Co-Design Head</p>
                        </div>
                    </div>
                </a>
            </div>         
            <div class="member-card">
                <a href="#" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/nadirnaju?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">MOHAMMED NADIR T.B</p>
                            <p class="member-role">Co-Design Head</p>
                        </div>
                    </div>
                </a>
            </div>          
            <div class="member-card">
                <a href="#" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/username?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Rachitha</p>
                            <p class="member-role">Co-Design Head</p>
                        </div>
                    </div>
                </a>
            </div>  
	     <div class="member-card">
                <a href="https://github.com/arkaanfast" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/arkaanfast?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Arkaan Sayed</p>
                            <p class="member-role">Event Coordinator</p>
                        </div>
                    </div>
                </a>
            </div>   
            <div class="member-card">
                <a href="#" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/username?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Namitha</p>
                            <p class="member-role">Co-Event Coordinator</p>
                        </div>
                    </div>
                </a>
            </div>     
            <div class="member-card">
                <a href="https://github.com/waseemashaikhh" target="_blank">
                    <div class="member-details">
                        <img class="member-image" src="https://avatars1.githubusercontent.com/waseemashaikhh?size=100" alt="" />
                        <div class="member-data">
                            <p class="member-name">Waseema Imtiaz Shaikh</p>
                            <p class="member-role">Co-Event Coordinator</p>
                        </div>
                    </div>
                </a>
            </div>              
        </div>
    </div>
